.footer {
    background-image: url("background.jpg");
    background-color: black;
    color: lawngreen;
    text-align: center;
    border-style: outset;
    border-color: black;
}
h2 {
    align-content: center;
}