.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 44%, rgba(55,111,63,1) 67%);
    border-style: outset;
    border-color: black;
}
div.header {
    width: 20%;
    margin-top: 10px;
    font-size: 3em;
    text-align: center;
    flex-shrink: 1;
}
div.title {
    flex-shrink: 1;
    color: lawngreen;
}


