<div class="flex-container">
    <div class="searchBox">
        <div style="order: 1">
            <h1>Profile Search</h1>
            <input #searchInput id="name" placeholder="Search" />
        </div>
    </div>
    <div class="profile-info">
        <div style="order: 1">
            <h2>User's name: {{ (searchEvent | async)?.name }}</h2>
        </div>
        <div style="order: 2">
            <profile-image [src]="(searchEvent | async)?.avatar_url"></profile-image>
        </div>
    </div>
    <repo-list></repo-list>
</div>