.userInfo {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3; 
    padding-top: 2%;
    grid-template-columns: 20% 20%;
    padding-left: 6%;
} 

.userImage {
    grid-column-start: 2;
    grid-column-end: 2; 
}

.userName {
    grid-column-start: 1;
    grid-column-end: 1; 
    padding-right: 5%;
}

.userInfo h2 { 
    color: black;
}

.repo {
    display: inline-grid;
    border-style: ridge;
    grid-template-columns: 50% 50%;
    margin: 1% 5% 5%;
}
.repo:empty{
    display: none;
}

.repoList {
    word-wrap: break-word;
    padding: 2%;
}
.profile-image:empty{
    display: none;
}